<!DOCTYPE html>
<html>
<head>
	<title>MAYA - FRAUD DETECTION</title>
</head>
<body>
	<h1 style = "text-align: center">MAYA - POC Version</h1>
	<div><h2 style = "text-align: center">{{ prediction_text }}</h2></div>
	<div style = "text-align: center"><button id = "checkanother" type = "submit"><a href = "http://127.0.0.1:5000/">Check Another</a></button></div> 
</body>
<style>
        body {
            background-color: lightslategray;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: -15px;
            padding-bottom: 15px;
            font-size: 20px;
            color: black;
        }
        div {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 50px;
            padding-bottom: 15px;
            font-size: 20px;
            color: black;
        }
        #checkanother {
            font-size: 25px;
            color: black;
            padding: 15px;
        }
</html>